.DishCreator {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    background-image: linear-gradient(to top right, rgb(67, 29, 97), rgb(76, 36, 97), 
    rgb(85, 43, 97), rgb(94, 51, 97), rgb(112, 65, 97), 
    rgb(121, 72, 96), rgb(130, 79, 96), rgb(139, 86, 96), rgb(148, 94, 96), rgb(157, 101, 96), rgb(166, 108, 96));
}

.DishCreator > div {
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
}

.DishCreator h1 {
    text-align: center;
    color: #b4d6cb;
}

.DishCreator form {
    background: #eee;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}