.Auth {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background-image: linear-gradient(to top right, rgb(90, 102, 237),
     rgb(92, 97, 223), rgb(95, 91, 210),
     rgb(97, 86, 196), rgb(99, 81, 182),
     rgb(101, 76, 168), rgb(104, 70, 155), 
     rgb(106, 65, 141), rgb(108, 60, 127), 
     rgb(110, 55, 113), rgb(113, 49, 100), rgb(115, 44, 86));
}

.Auth > div {
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
}

.Auth h1 {
    color: #fff;
    text-align: center;
}

.AuthForm {
    background: #eee;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    padding: 15px;
    border-radius: 5px;
}

#cont {
    width: 100px;
    height: 100px;
    background: red;
}